<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-admob"
	version="2.2.0">
      
    <name>AdMob</name>
	<description>Cordova plugin for AdMob Ads</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>ad,admob,google,rjfun</keywords>
    <repo>https://github.com/floatinghotpot/cordova-plugin-admob.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-plugin-admob/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <js-module src="www/AdMob.js" name="AdMob">
        <clobbers target="window.plugins.AdMob" />
    </js-module>

	<dependency id="com.google.admobsdk"/>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdMob">
                <param name="android-package" value="com.rjfun.cordova.plugin.AdMob"/>
            </feature>
        </config-file>
        <source-file src="src/android/AdMob.java" target-dir="src/com/rjfun/cordova/plugin" />
     </platform>
     
     <!-- ios -->
     <platform name="ios">    
         <config-file target="config.xml" parent="/*">
             <feature name="AdMob">
                 <param name="ios-package" value="CDVAdMob" />
             </feature>
         </config-file>
         <header-file src="src/ios/CDVAdMob.h" />
         <source-file src="src/ios/CDVAdMob.m" />
	</platform>

  <!-- Windows Phone 8 -->
  <platform name="wp8">
    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
        <Capability Name="ID_CAP_LOCATION" />
    </config-file>
    <config-file target="config.xml" parent="/*">
        <feature name="AdMob">
            <param name="wp-package" value="AdMob"/>
        </feature>
    </config-file>
    <source-file src="src/wp8/AdMob.cs" />
</platform>

  <!-- Windows Phone 8.1+ -->
<platform name="windows">
    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
        <Capability Name="ID_CAP_LOCATION" />
    </config-file>
    <config-file target="config.xml" parent="/*">
        <feature name="AdMob">
            <param name="wp-package" value="AdMob"/>
        </feature>
    </config-file>
    <source-file src="src/wp8/AdMob.cs" />
</platform>

</plugin>
